# Virtual Environment
.venv
__pycache__

# Local data caching
data/*

# GCS Authorization
gcs_client_secrets.json
gcs_service_account_secrets.json

# results reporting
singles_results_spreadsheet_key.json
group_results_spreadsheet_key.json
ladder_results_spreadsheet_key.json
result_spreadsheet_key.json