# Virtual Environment
.venv
__pycache__

# Local data caching
data/*

# Local log files
logs/*

# GCS Authorization
gcs_client_secrets.json
gcs_service_account_secrets.json

# spreadsheet keys
singles_results_spreadsheet_key.json
group_results_spreadsheet_key.json
ladder_results_spreadsheet_key.json
result_spreadsheet_key.json
eligibility_spreadsheet_key.json
result_spreadsheet.yaml